
/* Medium device Responsive */

@media screen and (min-width:577px) and (max-width:991px) {

   /* banner section style */

    .banner-container{
        flex-direction: column;
        padding: 0px 10px;
    }
    .banner-content{
        margin: 80px 0px 100px 0px;
    }
    .banner-content{
    padding-right: 0px;
}




}


/* small device responsive */

@media screen and (max-width:576px) {

    /* nav section responsive */
    .menu>ul{
        display: none;
    }
    .bar{
        display: block;
    }
    /* banner section style */

      .banner-container{
        flex-direction: column;
        padding: 0px 10px;
    }
    .banner-content{
        margin: 50px 0px;
    }
    .banner-content{
    padding-right: 0px;
    }
    .banner-content h1{
    width: 285px;
    font-size: 2.2rem;
}


}