
/* Medium device Responsive */

@media screen and (min-width:577px) and (max-width:991px) {

   /* banner section style */

    .banner-container{
        flex-direction: column;
        padding: 0px 10px;
    }
    .banner-content{
        margin: 80px 0px 100px 0px;
    }
    .banner-content{
    padding-right: 0px;
    }

    .img-box-1{
           top: 58px;
        right: -34px;
}
.img-box-2{
    bottom: 130px;
    left: -44px;
}

.play {
    bottom: 46%;
    left: -2%;
}





/* habit section style */

.hebit-items-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}


/* running section style */

.running-content{
    width: 270px;
}
.running-content>h3{
    font-size: 2.2rem;
}
.running-content>p{
    font-size: .9rem;
}
.running-img{
    width: 256px;
    height: 319px;
}
.running-img>img{

}

/* training section style */


/* BMI section style */

.bmi-section-container{
    align-items: start;
    flex-direction: column;
    padding-left: 30px;
}
.bmi-chart-content{
    margin-bottom: 60px;
}

.bmi-calculate{
    max-width: 560px;
    padding: 0px 15px;
}
.bmi-calculate-item{
    grid-template-columns: repeat(2, 1fr);
     width: 560px;
}
#activity{
    width: 560px;
}

/* team section style */

.trainer-container{
    width: 199px;
    height: 272px;
}

/* membership section style */

.membership-plans{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}







}





















/* small device responsive */

@media screen and (max-width:576px) {

    /* nav section responsive */
    .menu>ul{
        display: none;
    }
    .bar{
        display: block;
    }
    /* banner section style */

      .banner-container{
        flex-direction: column;
        padding: 0px 10px;
        align-items: normal;
    }
    .banner-content{
        max-width: 350px;
        margin: 50px 0px;
        padding-right: 0px;

    }
    .banner-content h1{
    width: 285px;
    font-size: 2.2rem;
    margin-bottom: 28px;
}
    .banner-content p{
    font-size: 1rem;
    width: 274px;
    margin-bottom: 28px;
}

    .banner-content h1{
    width: 285px;
    font-size: 2.2rem;
}
.button-container{
    max-width: 350px;
    gap: 10px;
}
.club-btn{
    font-size: 1.1rem;
    padding: 16px 32px;
    border-radius: 42px;
}
.app-btn{
    font-size: 1.1rem;
    padding: 16px 20px;
}
/* banner image section style */


    .img-box-1{
        padding: 12px 18px;
           top: 75px;
        right: 14px;
}
.img-box-1>h3{
    font-size: 1.9rem;
    line-height: 30px;
    letter-spacing: .75px;
}
.img-box-1>p{
    font-size: .6rem;
    line-height: 15px;
    letter-spacing: .76px;
}
.img-box-2{
    bottom: 150px;
    left: -14px;
}
 .box-2-content h3{
     font-size: 1.1rem;
    line-height: 18px;
    letter-spacing: .23px;
}
.box-2-content p{
    font-size: .8rem;
    line-height: 18px;
    letter-spacing: .38px;
}
.play {
        bottom: 176px;
        left: 22px;
    }
 .img-inner-box{
    gap: 5px;
    padding: 15px 20px;
}




/* habit section style */


.hebit-items-container{
    grid-template-columns: 1fr;
    gap: 40px;
}



/* running section style */

.running-section{
    flex-direction: column;
}
.running-content{
    width: 300px;
}
.running-content>h3{
    font-size: 2.1rem;
}

.running-img{
    width: 287px;
    height: 170px;
}
.running-img>img {
    width: 147%;
    left: -33%;
    top: -12%;
}
.running-content{
    margin-bottom: 31px;
}



/* training section style */

.top-section{
    flex-wrap: wrap;
    overflow: hidden;
}
.bottom-section{
    display: flex;
    overflow: hidden;
}


/* BMI section style */

.bmi-section-container{
    align-items: start;
    flex-direction: column;
    padding:0px 10px;
}
.bmi-calculator{
    max-width: 350px;
}
.bmi-chart-content{
    margin-bottom: 60px;
}
.bmi-calculate{
    max-width: 300px;
    padding: 0px 15px;
}
.bmi-calculate-item{
    grid-template-columns: repeat(2, 150px);
    width: 340px;
}
#activity{
    width: 310px;
}





/* team section style */

.team-members{
    grid-template-columns: 1fr;
    gap: 30px;
}

/* footer section style */

.footer-content{
    grid-template-columns: 1fr;
}

/* membership section style */
.membership-plans{
    grid-template-columns: 1fr;
}
.membership-section{
   padding: 40px;
}












}




















































/* large device */

@media screen and (min-width:992px) and (max-width:1215px) {
    
.img-box-1{
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, .1);
    display: inline-block;
    align-items: center;
    padding: 17px 23px;
    position: absolute;
    top: 139px;
    right: -47px;
    backdrop-filter: blur(20px);
}
.img-box-2{
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(20px);
    border-radius: 12px;
    position: absolute;
    bottom: 64px;
    left: -75px;
}
.img-inner-box{
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 20px 23px;
}
.img-box-1>h3{
    font-size: 1.8rem;
    font-weight: 900;
    color: #fff;
    line-height: 25px;
    letter-spacing: .7px;
    margin-bottom: 5px;
}
.img-box-1>p{
    font-size: .7rem;
    letter-spacing: .5px;
}
 .box-2-content h3{
     font-size: 1rem;
}
.box-2-content p{
    font-size: .8rem;
    letter-spacing: .3px;
}

}