
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* Shared style */
.primary-btn{
    border-style: none;
    background-color: #E6533C;
    border-radius: 42px;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
    padding: 16px 71px;
}
.hide{
    display: none;
}

body{
    background-color: #000;
    color: #fff;
}
.container{
    max-width: 1060px;
    margin: 0px auto;
    padding: 0px 10px;
}
.bg-header{

}
.bg-main{

}
.primary-font{
    color: rgba(255, 255, 255, .5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .5px;
}


/* header & nav section style */
header{
    background: linear-gradient(rgba(17, 17, 17, .3),rgba(119, 119, 119, .4),rgba(119, 119, 119, .3),rgba(17, 17, 17, 0));
    /* background-image: linear-gradient(rgba(17, 17, 17, 1), rgba(119, 119, 119, 0)); */
    /* background: linear-gradient(rgba(17, 17, 17, 1), rgba(119, 119, 119, .5)); */
    padding-top: 52px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.brand{}
.brand h3{
    color: #E6533C;
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 120%;
    font-style: italic;
}
.menu{
    /* max-width: 358px; */
}
.menu>ul{
    display: flex;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 39px;
    justify-content: center;
    align-items: center;
    padding:0px 4px;
}
.menu>ul>li{
    list-style: none;
    padding: 12px 20px;
}
.menu>ul>li>a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 120%;
}
#active{
    background-color: #E6533C;
    border-radius: 46px;
    font-weight: 600;
    padding: 8px 20px;
}
.bar{
    font-size: 24px;
    color: #fff;
}

/* banner section style */

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    /* margin-bottom: 100px; */
    padding-bottom: 100px;
    
}

.banner-content{
    max-width: 600px;
    padding-right: 80px;
}
.banner-content h1{
    width: 520px;
    font-size: 4.88rem;
    font-weight: 900;
    line-height: 120%;
    color: #fff;
    margin-bottom: 28px;
}
.banner-content p{
    width: 520px;
    margin-bottom: 28px;
}
.button-container{
    max-width: 462px;
    display: flex;
    gap: 14px;
}
.club-btn{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    line-height: 22px;
    padding: 16px 48px;
    border-style: none;
    background-color: #E6533C;
    border-radius: 42px;
}
.app-btn{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    line-height: 22px;
    padding: 16px 48px;
    border-style: none;
    border: 1px solid #fff;
    border-radius: 42px;
    background-color: rgba(230, 83, 60, 0);
}

#shape{
    font-family: 'Miama', sans-serif;
    color: #fff;
    font-size: 4.1rem;
    line-height: 120%;
    font-weight: 400;
}
/* banner image section style */

.banner-img{
    max-width: 350px;
    max-height: 580px;
    position: relative;
}

.img-box-1{
    background-color: rgba(255, 255, 255, .1);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, .1);
    display: inline-block;
    align-items: center;
    padding: 17px 23px;
    position: absolute;
    top: 123px;
    right: -72px;
    backdrop-filter: blur(20px);
}

.img-box-1>h3{
    font-size: 2.5rem;
    font-weight: 900;
    color: #fff;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.img-box-1>p{
    color: rgba(255, 255, 255, .65);
    font-weight: 400;
    font-size: .8rem;
    line-height: 20px;
    letter-spacing: 1px;
}

.img-box-2{
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(20px);
    border-radius: 12px;
    position: absolute;
    bottom: 64px;
    left: -105px;
}


.img-inner-box{
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 20px 23px;
}

 .box-2-content h3{
     font-size: 1.5rem;
    font-weight: 900;
    color: #fff;
    line-height: 24px;
    letter-spacing: .3px;
    margin-bottom: 5px;
}
.box-2-content p{
      color: rgba(255, 255, 255, .65);
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: .5px;
}

#circle{
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    border-radius: 50%;
}
.play{
    position: absolute;
    bottom: 45%;
    left: -20%;
}
.play>i{
    color: #fff;
}

/* habbit section start */

.habit-section{
    margin-bottom: 100px;
}
.habit-section-content{
    text-align: center;
    margin-bottom: 58px;
}
.habit-section-content>h3{
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
}
.habit-section-content>p{
    font-size: .9rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .3px;
    color: rgba(255, 255, 255, .5);
}
.hebit-items-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.habit-items{
    max-width: 231px;
    text-align: center;
}
.habit-item-img{
   justify-items: center;
   align-items: center;
    margin-bottom: 30px;
}
.habit-item-img>img{
    border: 4px solid rgba(255, 255, 255, .1);
    width: 180px;
    height: 180px;
    border-radius: 100px;
}
.habit-item-content>h4{
     font-size: 1.1rem;
    font-weight:600;
    line-height: 120%;
    margin-bottom: 6px;
}
.habit-item-content>p{
    font-size: .9rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: .3px;
    color: rgba(255, 255, 255, .5);
}

/* running section style */

.running-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    padding: 30px 32px;
    border-radius: 18px;
}
.running-content{
    width: 443px;
    padding: 10px 22px;
}
.running-content>h3{
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
}
.running-content>p{
    font-size: .9rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .3px;
    color: rgba(255, 255, 255, .5);
    margin-bottom: 34px;
}
.running-content>input{}
.running-img{
    position: relative;
    width: 366px;
    height: 312px;
     border-radius: 18px;
    /* background-image: url(../images/run.jpg);
    background-position:right; */
    
    overflow: hidden;
}
.running-img>img{
    width: 1133px;
    position: absolute;
    left: -543px;
    top: -123px;
}


/* training section style */

.training-container{
    margin: 100px auto;
}
.training-content{
    max-width: 670px;
    margin-bottom: 58px;
}
.training-content>h3{
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
    margin-bottom: 14px;
}
.training-content>p{
    font-size: .9rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .3px;
    color: rgba(255, 255, 255, .5);
    margin-bottom: 34px;
}

.training-session{}

.top-section{
    display: flex;
    overflow: hidden;
}
.bottom-section{
    display: flex;
    overflow: hidden;
}
.img-1{
    position: relative;
    width: 250px;
    height: 202px;
}
.img-1>img{
    width: 100%;
    height: 100%;
}
.img-1overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 202px;
    background-color: rgba(6, 255, 210, .5);
}
.img-1>p{
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: .9rem;
    font-weight: 500;
}

/* img-2 */

.img-2{
    position: relative;
    width: 520px;
    height: 202px;
}
.img-2>img{
    width: 100%;
    height: 100%;
}
.img-2overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 520px;
    height: 202px;
    background-color: rgba(255, 0, 0, .3);
}
.img-2>p{
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: .9rem;
    font-weight: 500;
}

/* img-3 */
.img-3{
    position: relative;
    width: 290px;
    height: 202px;
}
.img-3>img{
    width: 100%;
    height: 100%;
}
.img-3overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 290px;
    height: 202px;
    background-color: rgba(0, 0, 0, .5);
}
.img-3>p{
    width: 170px;
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: .9rem;
    font-weight: 500;
    line-height: auto;
}

/* img-4 */
.img-4{
    position: relative;
    width: 425px;
    height: 202px;
}
.img-4>img{
    width: 100%;
    height: 100%;
}
.img-4overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 425px;
    height: 202px;
    background-color: rgba(0, 0, 0, .5);
}
.img-4>p{
    width: 170px;
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: .9rem;
    font-weight: 500;
    line-height: auto;
}

/* img-5 */
.img-5{
    position: relative;
    width: 288px;
    height: 202px;
}
.img-5>img{
    width: 100%;
    height: 100%;
}
.img-5overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 288px;
    height: 202px;
    background-color: rgba(66, 255, 0, .3);
}
.img-5>p{
    width: 170px;
    position: absolute;
    bottom: 40px;
    left: 30px;
    font-size: .9rem;
    font-weight: 500;
    line-height: auto;
}

/* img-6 */

.img-6{
    position: relative;
    width: 347px;
    height: 202px;
}
.img-6>img{
    width: 100%;
    height: 100%;
}
.img-6overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 347px;
    height: 202px;
    background-color: rgba(0, 71, 255, .3);
}
.img-6>p{
    width: 170px;
    position: absolute;
    bottom: 40px;
    left: 30px;
    font-size: .9rem;
    font-weight: 500;
    line-height: auto;
}


/* BMI section style */

.bmi-calculator{
    max-width: 671px;
    margin: 80px auto ;
    padding: 0px 12px;
}
.bmi-calculator h3{
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
}
.bmi-calculator p{
    font-size: .9rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .3px;
    color: rgba(255, 255, 255, .5);
}

.bmi-section{
    background-color: #222222;
    padding: 50px 0px;
    margin-bottom: 88px;
}


.bmi-section-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bmi-chart-content{
    max-width: 443px;
}
.bmi-chart-content>h4{
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 52px;
}


table{
    max-width: 310px;
   text-align: left;
    border-collapse: collapse;

}
thead{
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}
tbody{
    font-size: .9rem;
    font-weight: 400;
    line-height: 120%;
    color: rgba(255, 255, 255, .5);
    
}

td,th{
    padding: 18px;
    border: 1px solid rgba(255, 255, 255, .1);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .1);
}

.bmi-calculate{
    max-width: 577px;
}
.bmi-calculate>h4{
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
}
.bmi-calculate>p{
    font-size: .9rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .3px;
    margin-bottom: 34px;
    color: rgba(255, 255, 255, .5);
}
.bmi-calculate-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-bottom: 12px;
}
.bmi-calculate-item>input{
    padding: 13px 20px;
    background-color: rgba(255, 255, 255, .1);
    border-style: none;
    border-radius: 8px;
}
.bmi-calculate-item>input::placeholder{
    color: rgba(255, 255, 255, .6);
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
}
.bmi-calculate-item>select{
    padding: 13px 20px;
    background-color: rgba(255, 255, 255, .1);
    border-style: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, .6);
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
}
#activity{
    width: 577px;
    padding: 13px 20px;
    background-color: rgba(255, 255, 255, .1);
    border-style: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, .6);
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 34px;
}
.bmi-calculate-item> select option{
    width: 200px;
    min-height: 200px;
    padding: 13px 20px;
    background-color: rgba(255, 255, 255, .1);
    color: rgba(255, 255, 255, .6);
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
}





/* team section style */

.team-content{
    text-align: center;
    margin-bottom: 58px;
}
.team-content>h3{
     font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
}
.team-content>p{
     font-size: .9rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .3px;
    color: rgba(255, 255, 255, .5);

}

.team-members{
    max-width: 1060px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 18px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.trainer-container{
    width: 326px;
    height: 272px;
    position: relative;
    display: flex;
    align-items: end;
    padding: 20px;
}
.trainer-img1{
    background-image: url(../images/trainer1.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 18px;
}
.trainer-img2{
     background-image: url(../images/trainer2.png);
     background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 18px;
}
.trainer-img3{
     background-image: url(../images/trainer3.png);
     background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 18px;
}
.trainer-img4{
     background-image: url(../images/trainer4.png);
     background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 18px;
}
.trainer-img5{
     background-image: url(../images/trainer5.png);
     background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 18px;
}
.trainer-img6{
     background-image: url(../images/trainer6.png);
     background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 18px;
}


.overlay{
    border-radius: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
}
.trainer-content{
    z-index: 1;
}
.trainer-content>h4{
    font-size: 1.2rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 10px;
}
.trainer-content>p{
    font-size: .9rem;
    font-weight: 400;
    line-height: 120%;
    color: rgba(255, 255, 255, .5);
}


/* membership section style */


.membership-section{
    margin: 80px 0px;
}
.membership-title{
    text-align: center;
    margin-bottom: 70px;
}
.membership-title>h3{
    letter-spacing: 1px;
    word-spacing: 10px;
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 30px;
}
.membership-title>p{
    font-size: .9rem;
    font-weight: 400;
    line-height: 120%;
    color: rgba(255, 255, 255, .5);
}

.membership-plans{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.plan-box{
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, .25);
    border-radius: 28px;
    padding: 50px 20px;
    text-align: center;
}
.plan-title{
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    margin-bottom: 30px;
}
.plan-title>h4{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.plan-title>h2{
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
     margin-bottom: 20px;
}
.plan-title>p{
    font-size: 1rem;
    font-weight: 400;
    line-height:24px;
    letter-spacing: .3px;
     margin-bottom: 20px;
     color: rgba(255, 255, 255, .5);
}
.plan-body{
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    margin-bottom: 30px;
}
.plan-body>h3{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.plan-body>p{
    font-size: 1rem;
    font-weight: 400;
    line-height:24px;
    letter-spacing: .3px;
    color: rgba(255, 255, 255, .6);
    margin-bottom: 20px;
}
.plan-footer{

}
.plan-footer>p{
    font-size: 1rem;
    font-weight: 400;
    line-height:24px;
    letter-spacing: .3px;
    color: rgba(255, 255, 255, .5);
    margin-bottom: 40px;
}
.plan-body>p>i{
    color: #E6533C;
}
.not-checked{
    opacity: .6;
}
.plan-footer>input{}







/* footer section style */

footer{
    background-color: rgba(255, 255, 255, .1);
    margin-top: 88px;
}
.footer-container{

}
.footer-content{
    padding: 70px 0px;
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    display: grid;
    grid-template-columns: 443px repeat(2, 181px);
    gap: 100px;
}
.footer-brand{}
.footer-brand>h2{
    font-size: 4.4rem;
    font-weight: 800;
    line-height: 120%;
    font-style: italic;
    color: #E6533C;
    margin-bottom: 20px;
}
.footer-brand>p{
    font-size: .9rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .3px;
    color: rgba(255, 255, 255, .5);
}
.footer-sub-menu{}
.footer-sub-menu>h4{
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 35px;
}
.footer-sub-menu>ul{}
.footer-sub-menu>ul>li{
    list-style: none;
    padding: 20px 0px;
}
.footer-sub-menu>ul>li>a{
    text-decoration: none;
    font-size: 1.45rem;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, .5);
}

.footer-copyright{
    text-align: center;
    padding: 30px 0px;
}
.footer-copyright p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .3px;
    color: rgba(255, 255, 255, .5);
}